---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Article from '../components/Article.astro';
---

<Layout title="Welcome to Astro.">
	<main >
		<Article/>
		<a href="/register">registart</a>
	</main>
</Layout>


